<a href="https://colab.research.google.com/github/nidhisharma57350-ops/python/blob/main/python(5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum=0
fact=1
n=14
for i in range(2,15):
   fact=fact*i
   if i%4==2:
        sum=sum+fact
        print(sum)

2
722
3629522
87181920722

In [ ]:
sum=0
fact=1
n=6
for i in range(1,7):
   fact=fact*i
   if i%2==0:
        sum=sum+fact
        print(sum)

2
26
746

In [ ]:
sum=0
n=10
for i in range(2,11,2):
    fact=1
    for j in range(2,i+1):
        fact=fact*j
    sum=sum+fact
print(sum)

3669866

In [ ]:
sum=0
fact=1
n=10
for i in range(2,11):
    fact=fact*i
    if i%2==0:
       sum=sum+fact
print(sum)

3669866

In [ ]:
r=5
area_of_circle=3.14*r*r
print(area_of_circle)

78.5

In [ ]:
r=5
circumfrence_of_circle=2*3.14*r
print(circumfrence_of_circle)

31.400000000000002

In [ ]:
n=200
sum=0
while n>19:
    sum=sum+n
    n=n-20
print(sum)

1100

In [ ]:
sum=0
for i in range(20,201,20):
   sum=sum+i
print(sum)

1100

In [ ]:
sum=0
for i in range(20,201):
  if i%20==0:
    sum=sum+i
print(sum)

1100

In [ ]:
fact=1
for i in range(1,7):
  fact=fact*i
print(fact)

720

In [ ]:
fact=1
sum=0
for i in range(1,7):
  fact=fact*i
  sum=sum+fact
print(sum)

873

In [ ]:
sum=0
fact=1
n=7
for i in range(2,7):
   fact=fact*i
   if i%2==0:
       sum=sum+fact
print(sum)

746

In [ ]:
sum=0
n=9
fact=1
for i in range(1,10):
    if i*2!=0:
       fact=fact*i
       sum=sum+fact
print(sum)

409113

In [ ]:
for i in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [ ]:
sum1=0
for i in range(19,191):
  if i%19==0:
    sum1=sum1+i
print(sum1)
sum2=0
for j in range(20,201):
  if j%20==0:
    sum2=sum2+j
print(sum2)
sum3=sum1+sum2
print(sum3)

1045
1100
2145

In [ ]:
sum1=0
for i in range(1,200):
  if i%19==0:
    print(i)
for j in range(1,201):
  if j%20==0:
    print(j)

19
38
57
76
95
114
133
152
171
190
20
40
60
80
100
120
140
160
180
200

In [ ]:
sum=0
for i in range(1,201):
  if i%19==0 or i%20==0:
     print(i)
     sum=sum+i
     average=sum/20
print(sum)
print(average)

19
20
38
40
57
60
76
80
95
100
114
120
133
140
152
160
171
180
190
200
2145
107.25

In [ ]:
n=0
while n<175:
  n=n+19
  print(n)
n=0
while n<181:
  n=n+20
  print(n)

19
38
57
76
95
114
133
152
171
190
20
40
60
80
100
120
140
160
180
200

In [ ]:
sum=0
fact=1
n=6
for i in range(1,7):
  fact=fact*i
  if i%2==0:
     sum=sum+fact
print(sum)

746

In [ ]:
sum=0
n=6
for i in range(1,7,2):
   fact=1
   for j in range(1,i+1):
       fact=fact*j
   sum=sum+fact
print(sum)

127

In [ ]:
sum=[0,0,0]
a=[3,4,5],b=[1,2,4]
for i in range(len(a)):
  sum[i]=a[i]+b[i]

In [ ]:
x="maihoonkon"
y="g"
if "g" in x:
   print("available")
else:
   print("not available")

not available

In [ ]:
name="chintu"
x=name[-3:]
print(x)
x[::-1]

ntu

'utn'

In [ ]:
x="kaiseho"
for i in x:
  print(i)

k
a
i
s
e
h
o

In [ ]:
x="kaiseho"
i=4
print(x[i])

e

In [ ]:
x="chintu"
for i in range(len(x)):
  print(f"{i}   :  {x[i]}")

0   :  c
1   :  h
2   :  i
3   :  n
4   :  t
5   :  u

In [ ]:
name="xyyx"
rev=name[::-1]
print(rev)
if rev==name:
  print("pallondrom")
else:
  print("not a pallondrom")

xyyx
pallondrom

In [ ]:
name="xyyx"
rev=name[::-1]
if rev==name:
   print("pallondrom")
else:
   print("not a pallondrom")

pallondrom

In [ ]:
name="xyyx"
if name==name[::-1]:
   print("pallondrom")
else:
   print("not a pallondrom")

pallondrom

In [ ]:
name="xyza"
rev=""
for char in name:
   rev=char+rev
print(rev)

azyx