<a href="https://colab.research.google.com/github/nidhisharma57350-ops/python/blob/main/python(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
principle=int(input("enter priciple"))
rate=int(input("enter your rate"))
time=int(input("enter time"))
no_of_days=int(input("enter number of days"))
year=2023
month=input("enter_month_name")
if month=="jan"or month=="march"or month=="may"or month=="july"or month=="aug"or month=="oct"or month=="dec":
   days=31
elif month=="april"or month=="june"or month=="sep"or month=="nov":
   days=30
else:
   days=28
   if year%4==0 and year%100!=0 or year%400==0:
       days=28
   else:
       days=29
simple_interest =principle*rate*time/100
print(simple_interest)
days_in_month=no_of_days/days
print(days_in_month)
simple_interest1=principle*rate*days_in_month/100
print(simple_interest1)

enter priciple1000
enter your rate2
enter time2
enter number of days2
enter_month_namefeb
40.0
0.06896551724137931
1.379310344827586

In [ ]:
principle=1000
rate=2
time=4
no_of_days=2
month=input("entre_month_name")
if month=="jan"or month=="march"or month=="may"or month=="july"or month=="aug"or month=="oct"or month=="dec":
   days=31
elif month=="april"or month=="june"or month=="sep"or month=="nov":
   days=30
else:
   days=28
simple_interest =principle*rate*time/100
print(simple_interest)
days_in_month=no_of_days/days
print(days_in_month)
simple_interest1=principle*rate*days_in_month/100
print(simple_interest1)
total_simple_interest=simple_interest+simple_interest1
print(total_simple_interest)

entre_month_namefeb
80.0
0.07142857142857142
1.4285714285714286
81.42857142857143

In [ ]:
Number=525
if Number%20!=0:
   print("not divisible")
else:
   print("divisible")

not divisible

In [ ]:
sum=0
for i in range(1,12):
    if i%2!=0:
      sum=sum+i
print(sum)

36

In [ ]:
sum=0
for i in range(1,101):
   if i%5==0 and i%10==0:
     sum=sum+i
print(sum)

550

In [ ]:
sum=0
for i in range(1,27):
    if i%6==2:
      sum=sum+i
print(sum)

70

In [ ]:
sum=0
for i in range(10,20):
    if i%5==0:
      sum=sum+i
print(sum)

25

In [ ]:
sum=0
for i in range(1,26):
     if i%2==0 and i%3==0 and i%4==0 and i%5==0:
        sum=sum+i
print(sum)

0

In [ ]:
sum=0
for i in range(1,26):
     if i%2!=0 and i%3!=0 and i%4!=0 and i%5!=0:
         sum=sum+i
print(sum)

91

In [ ]:
sum=0
for i in range(1,26):
     if i%2!=0 or i%3!=0 or i%4!=0 or i%5!=0:
        sum=sum+i
print(sum)

325

In [ ]:
sum=0
for i in range(1,26):
     sum=sum+i
print(sum)

325

In [ ]:
sum=0
for i in range(1,26):
     if i%2==0 or i%3==0 or i%4==0 or i%5==0:
        sum=sum+i
print(sum)

234

In [ ]:
sum1=0
for i in range(1,26):
     if i%2!=0 or i%3!=0 or i%4!=0 or i%5!=0:
        sum1=sum1+i
print(sum1)
sum2=0
for j in range(1,26):
     if j%2==0 or j%3==0 or j%4==0 or j%5==0:
        sum2=sum2+j
print(sum2)
difference=sum1-sum2
print(difference)

325
234
91