<a href="https://colab.research.google.com/github/nidhisharma57350-ops/python/blob/main/python(0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
print("My name is Nidhi Sharma.My father's name is Sh. Jagdish Chand. My mother's name is Smt. Santosh Kumari. i have done my graduation from govt. degree college Barsar.then i completed my M.sc from Swami Vivekanand Govt.college Ghumarwin.")

My name is Nidhi Sharma.My father's name is Sh. Jagdish Chand. My mother's name is Smt. Santosh Kumari. i have done my graduation from govt. degree college Barsar.then i completed my M.sc from Swami Vivekanand Govt.college Ghumarwin.

In [ ]:
x=4
y=2.5
z=True
p="nidhi"
print(x)
print(y)
print(z)
print(p)
print(type(x))
print(type(y))
print(type(z))
print(type(p))

4
2.5
True
nidhi
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
total_bill=0
discount=0
item1="pizza"
item2="burger"
item3="tea"
price_of_item1=100
price_of_item2=50
price_of_item3=20
total_bill=price_of_item1+price_of_item2+price_of_item3
print(total_bill)
discount=20
less_bill=total_bill*20/100
final_bill=total_bill-less_bill
print(final_bill)
discount1=10
less_price_of_item1=price_of_item1*discount1/100
final_price_of_item1=price_of_item1-less_price_of_item1
print(final_price_of_item1)
discount2=5
less_price_of_item2=price_of_item2*5/100
final_price_of_item2=price_of_item2-less_price_of_item2
print(final_price_of_item2)
discount3=1
less_price_of_item3=price_of_item3*1/100
final_price_of_item3=price_of_item3-less_price_of_item3
print(final_price_of_item3)
total_discount=discount1+discount2+discount3
print(total_discount)
total_less_price=less_price_of_item1+less_price_of_item2+less_price_of_item3
print(total_less_price)
payble_bill=total_bill-total_less_price
print(payble_bill)

170
136.0
90.0
47.5
19.8
16
12.7
157.3

In [ ]:
principle=1000
rate=6
time=1
simple_interest=principle*rate*time/100
print(simple_interest)

60.0

In [ ]:
principle=1000
rate=6
time=2
days=5
simple_interest=principle*rate*time/100
print(simple_interest)
simple_interest1=principle*rate*days/30/100
print(simple_interest1)
total_simple_interest=simple_interest+simple_interest1
print(total_simple_interest)

120.0
10.0
130.0

In [ ]:
number=41
if number%2==0:
  print("the number is even")
else:
  print("the number is odd")

the number is odd

In [ ]:
gender="male"
if gender=="male":
   print("hotalA")
else:
   print("hotalB")

hotalA

In [ ]:
gender="male"
age=35
if gender=="female":
   print("hotalA")
   if age>=30:
      print("building2")
   else:
      print("building1")
else:
   print("hotalB")
   if age>=30:
      print("building1")
   else:
      print("building2")

hotalB
building1

In [ ]:
color="brown"
if color=="red":
   print("shirt is avialable")
elif color=="blue":
   print("shirt is available")
else:
   print("shirt is not available")

shirt is not available

In [ ]:
age=40
if age>=18:
   print("he or she is eligible for vote ")
else:
   print("he or she is not eligible for vote")

he or she is eligible for vote

In [ ]:
days="working"
if days=="holidays":
   print("we are going")
else:
   print("we are not going")

we are not going

In [ ]:
direction="north"
if direction=="south":
   print("open=no,eo,wo")
elif direction=="north":
   print("open=wo,eo,so")
elif direction=="west":
   print("open=eo,so,no")
elif direction=="east":
   print("open==wo,so,no")
else:
   print("invalid direction")

open=wo,eo,so

In [ ]:
name=input("enter your name")
age=int(input("enter your age"))
salary=int(input("enter your salary"))
marital_status=input("married or unmarried")
print(name)
print(age)
print(salary)
print(marital_status)

enter your nameNidhi Sharma
enter your age22
enter your salary50000
married or unmarriedunmarried
Nidhi Sharma
22
50000
unmarried

In [ ]:
principle=int(input("enter principle"))
rate=int(input("enter rate"))
time=int(input("enter time"))
days=int(input("enter days"))
simple_interest=principle*rate*time/100
print(simple_interest)
simple_interest1=principle*rate*days/30/100
print(simple_interest1)
total_simple_interest=simple_interest+simple_interest1
print(total_simple_interest)

enter principle1000
enter rate5
enter time5
enter days5
250.0
8.333333333333334
258.3333333333333

In [ ]:
year=2021
if year%4==0 and year%100!=0:
  print("leap year")
else:
  print("not a leap year")

not a leap year

In [ ]:
year=2016
if year%4==0:
  print("leap year")
else:
  print("not a leap year")

leap year

In [ ]:
year=2017
if year%400==0:
  print("leap year")
else:
  print("not a leap year")

not a leap year

In [ ]:
year=2027
if year%4==0 and year%100!=0 or year%400==0:
   print("leap year")
else:
   print("not a leap year")

not a leap year

In [ ]:
year=2021
if year%4==0:
   print("leap year")
   if year%100==0:
       print("not a leap year")
       if year%400==0:
          print("leap year")
       else:
          print("not a leap year")
   else:
       print("leap year")
else:
    print("not a leap year")

not a leap year

In [ ]:
principle=int(input("enter principle"))
rate=int(input("enter rate"))
time=int(input("enter time"))
given_days=int(input("enter days"))
month=input("enter month name")
if month=="january" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
    days=31
elif month=="april" or month=="june" or month=="august" or month=="september" or month=="november":
    days=30
else:
    days=29
simple_interest=principle*rate*time/100
print(simple_interest)
days_in_month=given_days/days
print(days_in_month)
simple_interest1=principle*rate*days_in_month/100
print(simple_interest1)
total_simple_interest=simple_interest+simple_interest1
print(total_simple_interest)

enter principle1000
enter rate2
enter time4
enter days2

In [ ]:
year=2000
if year%4==0:
  if year%100==0:
     if year%400==0:
        print("leap year")
     else:
        print("not a leap year")
  else:
     print("leap year")
else:
   print("not a leap year")

not a leap year

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
sum=0
for i in range(2,7):
   sum=sum+i
print(sum)

20

In [ ]:
n=7
sum=0
fact=1
for i in range(1,8):
   fact=fact*i
   sum=sum+fact
print(sum)

5913

In [ ]:
n=6
sum=0
fact=1
for i in range(1,7):
      fact=fact*i
      if i%2==0:
       sum=sum+fact
print(sum)

746

In [ ]:
sum=0
for i in range(1,8,3):
 print(i)

1
4
7

In [ ]:
sum=0
n=7
for i in range(1,8,3):
  fact=1
  for j in range(1,i+1):
     fact=fact*j
  sum=sum+fact
  print(sum)

1
25
5065

In [ ]:
sum=0
n=10
for i in range(1,11,4):
  fact=1
  for j in range(1,i+1):
     fact=fact*j
  sum=sum+fact
print(sum)

363001

In [ ]:
number=205
if number%200==0 and number%100==0 and number%50==0:
  print("the number is divisible")
else:
  print("the number is not divisible")

the number is not divisible

In [ ]:
number=205
if number%200!=0 or number%100!=0 or number%50!=0 or number%200==0:
   print("the number is divisible")
else:
   print("the number is not divisible")

the number is divisible

In [ ]:
sum=0
for i in range(1,51):
   if i%5==0 and i%10==0:
    sum=sum+i
print(sum)

150

In [ ]:
sum=0
n=6
fact=1
for i in range(1,7):
   fact=fact*i
   if i%3==0:
    sum=sum+fact
print(sum)

726

In [ ]:
sum=0
for i in range(1,100):
  sum=sum+i
print(sum)

4950

In [ ]:
n=20
while n>0:
  n=n-5
  print(n)

15
10
5
0

In [ ]:
n=6
fact=1
while n>0:
  fact=fact*n
  n=n-1
  print(fact)

6
30
120
360
720
720

In [ ]:
sum=0
for i in range(1,26):
   if i%2==0 and i%3==0 and i%4==0 and i%5==0:
    sum=sum+i
print(sum)

0

In [ ]:
sum=0
for i in range(1,26):
    if i%2==0 or i%3==0 or i%4==0 or i%5==0:
      sum=sum+i
print(sum)

234

In [ ]:
sum=0
for i in range(1,26):
    if i%2!=0 or i%3!=0 or i%4!=0 or i%5!=0:
     sum=sum+i
print(sum)

325

In [ ]:
sum1=0
for i in range(1,26):
    if i%2!=0 or i%3!=0 or i%4!=0 or i%5!=0:
     sum1=sum1+i
print(sum1)
sum2=0
for i in range(1,26):
    if i%2==0 or i%3==0 or i%4==0 or i%5==0:
     sum2=sum2+i
print(sum2)
sum3=0
sum3=sum1-sum2
print(sum3)

325
234
91

In [ ]:
sum=0
for i in range(1,26):
    if i%2==0 or i%3==0 or i%4==0 or i%5==0:
      sum=sum+i
print(sum)

234

In [ ]:
def add_num(x,y):
  print(x+y)
add_num(10,15)
add_num(20,15)
add_num(15,15)

25
35
30

In [ ]:
def fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  print(fact)
fact(5)
fact(7)

120
5040

In [ ]:
def add_num(a,b):
   print(a+b)
add_num(20,30)
add_num(40,50)

50
90

In [ ]:
def factorial(n):
   factorial=1
   for i in range(1,n+1):
      factorial=factorial*i
   print(factorial)
factorial(4)
factorial(6)

24
720

In [ ]:
def fact_sum(n):
   sum=0
   fact=1
   for i in range(1,n+1):
      fact=fact*i
      sum=sum+fact
   print(sum)
fact_sum(5)
fact_sum(4)

153
33

In [ ]:
fact=1
n=5
for i in range(2,7):
    fact=fact*i
print(fact)

720

In [ ]:
a=5
b=10
for i in range(1,6):
   if a%i==0 and b%i==0:
     hcf=i
print(hcf)

5

In [ ]:
a=5
b=10
if a>b:
  print("small=b")
else:
  print("small=a")

small=a

In [ ]:
a=15
b=10
if b>a:
  print("small=a")
else:
  print("small=b")

small=b

In [ ]:
a=10
b=15
for i in range(1,11):
  if a%i==0 and b%i==0:
    hcf=i
print(hcf)

5

In [ ]:
def hcf(a,b):
  for i in range(1,a+1):
    if a%i==0 and b%i==0:
      hcf=i
  print(hcf)
hcf(10,15)
hcf(10,20)
hcf(20,30)

5
10
10

In [ ]:
a=10
b=20
c=30
for i in range(1,11):
  if a%i==0 and b%i==0 and c%i==0:
    hcf=i
print(hcf)

10

In [ ]:
a=10
b=20
c=30
for i in range(30,a*b*c+1):
  if i%a==0 and i%b==0 and i%c==0:
    lcm=i
    break
print(lcm)

60

In [ ]:
def lcm(a,b,c):
  for i in range(c,a*b*c+1):
    if i%a==0 and i%b==0 and i%c==0:
     lcm=i
     break
  print(lcm)
lcm(10,20,30)

60

In [ ]:
first_term=0
second_term=0
print(first_term)
print(second_term)
for i in range(1,8):
  third_term=first_term+second_term
print(third_term)
first_term=1
second_term=1
third_term=first_term+second_term
print(third_term)
first_term=1
second_term=2
third_term=first_term+second_term
print(third_term)
first_term=2
second_term=3
third_term=first_term+second_term
print(third_term)
first_term=3
second_term=5
third_term=first_term+second_term
print(third_term)
first_term=5
second_term=8
third_term=first_term+second_term
print(third_term)
first_term=8
second_term=13
third_term=first_term+second_term
print(third_term)
first_term=13
second_term=21
third_term=first_term+second_term
print(third_term)

0
0
0
2
3
5
8
13
21
34